# Rubbish files from Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Don't track the finished report...
rap.pdf

# Rubbish depending on how to import Gnuplots
*.eps
*-converted-to.pdf

# Standard rubbish from LaTeX
*.aux
*.log
*.toc

# Really would like all 
# filename.tex 
# that has a corresponding 
# filename.gp
# to be ignored as well...
